@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}
@media (max-width: 75em) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 55%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

p {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.28px;
  color: #9597a5;
}

h1,
h2,
h3 {
  font-weight: 300;
  color: #2d314d;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #f3f4f6;
}

.btn {
  font-family: "Public Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1rem;
}

.u-padding {
  padding: 5rem;
}

.blog__body {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .blog__body {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.blog__title {
  font-size: 32px;
  text-align: center;
}
.blog__card {
  max-width: 281px;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in-out;
  backface-visibility: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.blog__card:hover {
  cursor: pointer;
  transform: scale(102%);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.blog__img {
  max-width: 281px;
  width: 100%;
  min-height: 12rem;
  margin-bottom: 25px;
}
.blog__content {
  padding: 25px 24px;
}
.blog__author {
  display: block;
  font-size: 10px;
  line-height: 0.5rem;
  margin-bottom: 8px;
  color: #9597a5;
}
.blog__card-title {
  max-width: 207px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  margin-bottom: 8px;
  color: #2d314d;
}
@media only screen and (max-width: 900px) {
  .blog__card-title {
    font-size: 16px;
    line-height: 1.1;
  }
}
.blog__card-description {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #9597a5;
}
@media only screen and (max-width: 900px) {
  .blog__card-description {
    font-size: 13px;
    line-height: 1.55;
  }
}

.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  display: block;
}
@media only screen and (max-width: 1170px) {
  .btn {
    font-size: 2.3rem;
    padding: 2rem 2.5rem;
    border-radius: 3rem;
    font-weight: normal;
  }
}
.btn--primary {
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  color: #ffffff;
  background-image: linear-gradient(to right, #30c88f, #2bb7da);
  transition: all 0.2s;
  z-index: 1;
}
.btn--primary:hover {
  transform: translateY(-3px);
  background-image: linear-gradient(to right, #2bb7da, #30c88f);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn--primary:hover::after {
  transform: scaleX(1.4), scaleY(1.6);
  opacity: 0;
}

@media only screen and (max-width: 900px) {
  .header__mobile-btn--hamburger,
  .header__mobile-btn--close {
    display: none;
  }
}
.features__intro {
  max-width: 41%;
  width: 100%;
  margin-bottom: 7.1rem;
}
@media only screen and (max-width: 900px) {
  .features__intro {
    max-width: 327px;
    margin: 0 auto;
    margin-bottom: 7rem;
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .features__title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 900px) {
  .features__description {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }
}
.features__cards {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .features__cards {
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.features__card {
  max-width: 254px;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .features__card {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .features__card-description {
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }
}
.features__card__title {
  margin: 2rem 0;
}
.features__icon {
  margin-bottom: 40px;
}
@media only screen and (max-width: 900px) {
  .features__icon {
    margin-bottom: 24px;
  }
}
.features__card-title {
  margin-bottom: 26px;
}
@media only screen and (max-width: 900px) {
  .features__card-title {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.footer {
  display: flex;
  padding: 48px 165px;
  background-color: #2d314d;
  color: #fafafa;
}
.footer a {
  transition: all 0.3s;
}
.footer a:hover {
  color: #30c88f;
}
.footer__logo {
  max-width: 9rem;
  width: 100%;
}
.footer__intro {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.footer ul {
  list-style: none;
}
.footer__social {
  display: inline-flex;
  margin-top: 3rem;
}
.footer__social li:not(:last-child) {
  margin-right: 0.7rem;
}
.footer__links {
  max-width: 25%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__links ul li {
  margin-bottom: 1rem;
}
.footer__last {
  text-align: right;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__last p {
  font-size: 15px;
  color: #9698a6;
  margin-top: auto;
}

.header {
  display: flex;
  height: 8rem;
  padding: 18px 165px;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  z-index: 10;
}
@media only screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
.header__mobile-menu {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  .header__mobile-menu {
    display: none;
    z-index: 13;
    position: relative;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    padding: 1.5rem;
    color: #2d314d;
    transition: 0.2s all ease-in-out;
    transition-delay: 900ms;
    backface-visibility: hidden;
  }
}
.header__mobile-menu-list {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .header__mobile-menu-list {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.header__mobile-menu-list li {
  color: #9597a5;
  list-style-type: none;
  margin-right: 3rem;
  margin-top: auto 0;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .header__mobile-menu-list li {
    margin-top: auto 0;
    position: relative;
    margin-right: 0;
  }
  .header__mobile-menu-list li:not(:last-child) {
    margin-bottom: 1.3rem;
  }
  .header__mobile-menu-list li a {
    color: #2d314d;
  }
  .header__mobile-menu-list li a:hover {
    color: #30c88f;
  }
}
.header__mobile-menu-list li:last-child {
  margin-right: 0;
}
.header__mobile-menu-list li::after {
  content: "";
  position: absolute;
  height: 3px;
  background: linear-gradient(to right, #30c88f, #2bb7da);
  bottom: -20px;
  width: 0;
  left: 0;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 900px) {
  .header__mobile-menu-list li::after {
    bottom: -5px;
    left: 220px;
    height: 2px;
  }
}
.header__mobile-menu-list li:hover {
  color: #000;
}
.header__mobile-menu-list li:hover::after {
  width: 100%;
  color: #2d314d;
}
@media only screen and (max-width: 900px) {
  .header__mobile-menu-list li:hover::after {
    width: 10%;
  }
}
.header__mobile-menu-list li:hover::after::after {
  opacity: 1;
}
.header__logo {
  margin-left: 3rem;
}
@media only screen and (max-width: 900px) {
  .header__logo {
    margin: 0;
    align-self: center;
  }
}
.header__menu-secondary {
  list-style-type: none;
}
@media only screen and (max-width: 900px) {
  .header__menu-secondary {
    display: none;
  }
}

.container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

.intro {
  max-width: 114rem;
  width: 100%;
  display: flex;
  background-color: #fafafa;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
@media only screen and (max-width: 900px) {
  .intro {
    flex-direction: column-reverse;
    overflow: hidden;
  }
}
.intro__text {
  max-width: 447px;
  width: 100%;
  margin: 0 auto;
  padding-block: 8rem;
}
.intro__text--title {
  font-weight: lighter;
}
@media only screen and (max-width: 1170px) {
  .intro__text {
    padding-block: 0;
    margin-bottom: 6rem;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 2;
  }
}
@media only screen and (max-width: 1170px) {
  .intro__text--title {
    font-size: 40px;
    margin-bottom: 16px;
  }
}
.intro__description {
  max-width: 396px;
  width: 100%;
  color: #9597a5;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 1170px) {
  .intro__description {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 32px;
  }
}
.intro__image {
  position: relative;
  display: block;
  max-width: 50%;
  background-image: url(../../images/bg-intro-desktop.svg);
  background-position: -4rem -16rem;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1170px) {
  .intro__image {
    order: 2;
    top: -0.5rem;
    max-width: 100%;
    background-position: -10rem -50rem;
  }
}
.intro__mockups {
  position: relative;
  top: -71px;
  right: -125px;
}
@media only screen and (max-width: 1170px) {
  .intro__mockups {
    top: -71px;
    width: 70%;
  }
}

.features {
  padding: 96px 165px;
  background: #f3f4f6;
}
@media only screen and (max-width: 900px) {
  .features {
    padding: 64px 10px;
  }
}

.blog {
  padding: 96px 165px;
  background-color: #fafafa;
}
@media only screen and (max-width: 900px) {
  .blog {
    padding: 64px 24px;
  }
}

/*# sourceMappingURL=style.css.map */
