@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

p {
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.28px;
  color: #9597a5;
}

h1, h2, h3 {
  font-weight: 300;
  color: #2d314d;
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #f3f4f6;
}

.btn {
  font-family: "Public Sans", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1rem;
}

.u-padding {
  padding: 5rem;
}

.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  display: block;
}
.btn--primary {
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  color: #ffffff;
  background-image: linear-gradient(to right, #30c88f, #2bb7da);
  transition: all 0.2s;
  z-index: 1;
}
.btn--primary:hover {
  transform: translateY(-3px);
  background-image: linear-gradient(to right, #2bb7da, #30c88f);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn--primary:hover::after {
  transform: scaleX(1.4), scaleY(1.6);
  opacity: 0;
}

.header {
  display: flex;
  height: 8rem;
  padding: 2.5rem;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  z-index: 10;
}
.header__mobile-menu {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  width: 100%;
}
.header__mobile-menu-list {
  display: flex;
  align-items: center;
}
.header__mobile-menu-list li {
  color: #9597a5;
  list-style-type: none;
  margin-right: 3rem;
  margin-top: auto 0;
  position: relative;
}
.header__mobile-menu-list li:last-child {
  margin-right: 0;
}
.header__mobile-menu-list li::after {
  content: "";
  display: block;
  height: 0.2rem;
  background: linear-gradient(to right, #30c88f, #2bb7da);
  bottom: absolute;
  width: -35px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.header__mobile-menu-list li:hover {
  color: #2d314d;
}
.header__mobile-menu-list li:hover::after {
  opacity: 1;
}
.header__logo {
  margin-left: 3rem;
}
.header__menu-secondary {
  list-style-type: none;
}

.container {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
}

.intro {
  max-width: 114rem;
  width: 100%;
  display: flex;
  background-color: #fafafa;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.intro__text {
  max-width: 447px;
  width: 100%;
  margin: 0 auto;
  padding-block: 8rem;
}
.intro__text--title {
  font-weight: lighter;
}
.intro__description {
  max-width: 396px;
  width: 100%;
  color: #9597a5;
  margin-bottom: 2rem;
}
.intro__image {
  position: relative;
  display: block;
  max-width: 50%;
  background-image: url(../../images/bg-intro-desktop.svg);
  background-position: -4rem -16rem;
  background-repeat: no-repeat;
}
.intro__mockups {
  position: relative;
  top: -71px;
  right: -125px;
}

.features {
  background: #f3f4f6;
}
.features__intro {
  width: 55%;
  padding-bottom: 3rem;
}

/*# sourceMappingURL=style.css.map */
