.footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 165px;
  background-color: $color-dark-blue;
  color: $color-light-gray-white;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
    padding: 24px 68px;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
  }

  a {
    transition: all 0.3s;

    &:hover {
      color: $color-green;
    }
  }

  &__logo {
    max-width: 9rem;
    width: 100%;

    @media only screen and (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    width: 25%;

    @media only screen and (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  ul {
    list-style: none;
  }

  &__social {
    display: inline-flex;
    margin-top: 3rem;

    li {
      &:not(:last-child) {
        margin-right: 0.7rem;
      }
    }

    @media only screen and (max-width: 768px) {
      margin-top: 16px;
    }
  }

  &__links {
    max-width: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    ul {
      li {
        margin-bottom: 1rem;
      }
    }

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;

      ul {
        text-align: center;
      }
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__last {
    text-align: right;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
      font-size: 15px;
      color: $color-gray-blue;
      margin-top: auto;
    }

    @media only screen and (max-width: 1024px) {
      text-align: center;
      align-items: center;
    }

    @media only screen and (max-width: 768px) {
      margin-top: 16px;
    }
  }
}
