@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

$color-white: #ffffff;
$color-ligh-grayish-blue: #f3f4f6;
$color-gray-blue: #9698a6;
$color-light-gray-white: #fafafa;

$color-dark-blue: #2d314d;
$color-green: #31d35c;
$color-cyan: #2bb7da;